// Componentes
$alert-prefix: "alert";
$button-prefix: "btn";
$breadcrumb-prefix: "breadcrumb";
$card-prefix: "card";
$content-prefix: "content";
$footer-prefix: "footer";
$header-prefix: "header";
$icon-prefix: "icon";
$label-prefix: "label";
$link-prefix: "link";
$logo-prefix: "logo";
$modal-prefix: "modal";
$nav-prefix: "nav";
$pagination-prefix: "pagination";
$status-prefix: "status";
$table-prefix: "table";
$tab-prefix: "tab";
$tabs-prefix: "tabs";

// Form
$checkbox-prefix: "checkbox";
$radio-prefix: "radio";

// Layouts
$login-prefix: "login";
$main-prefix: "main";
$page-prefix: "page";