.#{$alert-prefix} {
    border-radius: $alert-radius;
    font-size: $alert-font-size;
    padding: $alert-padding;
    margin: $alert-margin 0;
    position: relative;
}

@each $name, $color in $status-colors {
    .#{$alert-prefix}--#{$name} {
        background-color: lighten-color($color, 40);
        color: $color;

        .icon {
            background-color: $color;
        }

    }
}

@each $name, $color in $status-colors {
    .#{$alert-prefix}-text--#{$name} {
        color: $color;
    }
}