.#{$link-prefix} {
    color: $link-color;
    text-decoration: $link-decoration;
    @include transition($transition-base);

    @include hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}