// .#{$button-prefix} {}

$form-box-margin: $margin-lg;

.form-box {
    margin-bottom: $form-box-margin;
}

%input {
    border: $input-border;
    border-radius: $input-radius;
    color: $input-color;
    font-size: $input-font-size;
    display: block;
    padding: $input-padding;
    @include transition($transition-base);
    width: 100%;

    @include hover {
        border-color: $input-hover-border-color;
    }

    @include focus {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-shadow;
    }

    &::placeholder {
        color: $grey-300;
    }
}

.input-text {
    @extend %input;
}

.input-select {
    @extend %input;
    background: url('../assets/icons/i-arrow.svg') no-repeat center right 1rem;
    background-size: 0.75rem;
    // border: 2px solid blue;
    position: relative;

    // &:after {
    //     background: url('../assets/icons/i-arrow.svg') no-repeat center center;
    //     border: 2px solid red;
    //     content: '';
    //     position: absolute;
    //     height: 2rem;
    //     width: 2rem;
    // }
}


.form-error {
    border-color: $input-error-color;
    color: $input-error-color;

    @include hover {
        border-color: $input-error-color;
    }

    @include focus {
        border-color: $input-error-color;
        box-shadow: $input-error-shadow;
    }
}

.form-disabled {
    border-color: $input-disabled-color;
    background-color: $input-disabled-bg;
    cursor: not-allowed;

    @include hover {
        border-color: $input-disabled-color;
    }

    @include focus {
        border-color: $input-disabled-color;
        box-shadow: $input-disabled-shadow;
    }
}

.form-help {
    display: block;
    font-size: $help-font-size;
    margin: $margin-sm 0;

    &--error {
        color: $help-color-error;
    }
}


.form-group {
    @include display-flex($align: flex-start);
    gap: $gap-md;

    .form-box {
        flex-grow: 1;
        width: 100%;
    }
}