.#{$radio-prefix} {
    // border: 2px solid red;
    margin-bottom: 1rem;

    label {
        margin: 0;

    }

    display: flex;
    gap: 0.5rem;

    .input-radio {
        @extend %input;
        border-radius: 1rem;
        height: 1.25rem;
        width: 1.25rem;
        padding: 0;

        &:checked {
            background-color: $checkbox-checked-color;
            border-color: $checkbox-checked-color;

            &::after {
                //background: url($checkbox-checked-icon) center center no-repeat;
                content: '';
                position: absolute;
                width: $checkbox-size/2;
                height: $checkbox-size/2;
                background-color: white;
                margin: 0.35rem 0.3rem;
                border-radius: $border-radius-circle;
            }
        }
    }
}